alembic==1.7.7
altair==4.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.10.0
bitermplus==0.6.12
bleach==4.1.0
blis==0.7.7
Boruta==0.3
catalogue==1.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.4
colorlover==0.3.0
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
Cython==0.29.14
databricks-cli==0.16.6
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
docker==5.0.3
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
Flask==2.1.1
fonttools==4.30.0
funcy==1.17
future==0.18.2
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
htmlmin==0.1.12
humanize==4.0.0
idna==3.3
ImageHash==4.2.1
imbalanced-learn==0.7.0
importlib-metadata==4.11.3
importlib-resources==5.4.0
ipykernel==6.9.2
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.0.1
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.0
kmodes==0.12.1
lightgbm==3.3.2
llvmlite==0.37.0
lxml==4.9.1
Mako==1.2.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
missingno==0.5.1
mistune==0.8.4
mlflow==1.25.1
mlxtend==0.19.0
multimethod==1.8
multiprocess==0.70.12.2
murmurhash==1.0.6
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
networkx==2.7.1
nltk==3.7
notebook==6.4.10
numba==0.54.1
numexpr==2.8.1
numpy==1.19.5
oauthlib==3.2.0
openpyxl==3.0.9
p-tqdm==1.4.0
packaging==21.3
pandas==1.3.3
pandas-profiling==3.1.0
pandocfilters==1.5.0
parso==0.8.3
pathos==0.2.8
patsy==0.5.2
phik==0.12.2
pickleshare==0.7.5
Pillow==9.0.1
plac==1.1.3
plotly==5.6.0
pox==0.3.0
ppft==1.6.6.4
preshed==3.0.6
prometheus-client==0.13.1
prometheus-flask-exporter==0.20.1
prompt-toolkit==3.0.28
protobuf==3.20.0
psutil==5.9.0
pure-eval==0.2.2
pycparser==2.21
pydantic==1.9.0
Pygments==2.11.2
PyJWT==2.3.0
pyLDAvis==3.2.2
PyMySQL==1.0.2
pynndescent==0.5.6
pyod==0.9.9
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.3.0
pywin32==227
pywinpty==2.0.5
PyYAML==5.4.1
pyzmq==22.3.0
querystring-parser==1.2.4
regex==2022.3.15
requests==2.27.1
scikit-learn==1.0.2
scikit-plot==0.3.7
scipy==1.5.4
seaborn==0.11.2
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
soupsieve==2.3.1
spacy==2.3.7
SQLAlchemy==1.4.35
sqlparse==0.4.2
srsly==1.0.5
stack-data==0.2.0
statsmodels==0.13.2
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tenacity==8.0.1
terminado==0.13.3
testpath==0.6.0
textblob==0.17.1
thinc==7.4.5
threadpoolctl==3.1.0
tmplot==0.0.7
tomotopy==0.12.3
toolz==0.11.2
torch==1.11.0
tornado==6.1
tqdm==4.64.1
traitlets==5.1.1
typing_extensions==4.1.1
umap-learn==0.5.3
urllib3==1.26.9
visions==0.7.4
waitress==2.1.1
wasabi==0.9.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.1.1
widgetsnbextension==3.6.0
wordcloud==1.8.1
yellowbrick==1.3.post1
zipp==3.7.0
